*{
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: white;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 10;
    padding-left: 20px;
}

#mobile-logo{
    max-width: 30px;
}

#logo{
    display: none;
}

header i{
    margin-left: 10px;
    margin-right: 10px;
}

.search-bar{
    background-color: whitesmoke;
}

.buttom-white{ 
    /* la campanellina */
    background-color: white;
    border-color: transparent;
}


#wrap-up{
    /* background-color: rgb(255, 255, 255); */
    display: flex;
 
}

#lateral-navbar{
    width: 60px;
    background-color: rgb(0, 0, 31);
    background-image: url(img/sidebar-bg.png);
    height: 100vh;
    margin-top: 50px;
    position: fixed;
    overflow: hidden;
    z-index: 10;
}


.menu{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.5rem;
    display: flex;
    line-height: 2rem;
    color: white;
}

.menu span{
    display: none;
}

#main-content{
    width: calc(100% - 60px);
    height: 100%;
    /* background-color: darkseagreen; */
    margin-top: 50px;
    margin-left: 60px;
}


#up-navbar{
    color: white;
    width: 100%;
    height: 250px;
    background-color: dodgerblue;
    padding-left: 30px;
}

.buttontrasparent{
    /* il + che fa apparire il form */
    font-size: 20px;
    background-color: transparent;
}

#parte1-upnav{
    display: flex;
    margin-bottom: 10px;
}

.modal{
    /* il form */
    color: black;
}

.btn-sm{
    /* i bottoni */
    margin-left: 20px;
    margin-top: 10px;
    background-color: darkblue;
}

.col-destra{
    padding: 0%;
    background-color: whitesmoke;
    /* min-height: 200px; */
}

.col-sinistra{
    padding: 0%;
    background-color: whitesmoke;
    /* min-height: 200px; */
}


.card{
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-color: transparent;
}

.class-mobile-none{
    /* toglie alcuni elementi dalla griglia */
    display: none;
}


.todo-card h1, 
.class-card h1, .faq-card h1{
    background-color: rgb(245, 245, 245);
}

.linkgrafico{
    margin-left: 20px;
    padding-bottom: 20px;
}


.list-prossime {
    margin-right: 10px;
}

/* versione telefoni */

@media all and (min-width: 768px){
   

    #lateral-navbar{
        width: 160px;
        background-color: rgb(0, 0, 31);
        background-image: url(img/sidebar-bg.png);
        height: 100vh;
        margin-top: 50px;
        position: fixed;
        overflow: hidden;
        z-index: 10;
    }

    .menu span{
        
        margin-left: 10px;
        display: block;
    }

    #main-content{
        width: calc(100% - 160px);
        height: 100%;
        /* background-color: darkseagreen; */
        margin-top: 50px;
        margin-left: 160px;
    }

    #mobile-logo{
        display: none;
    }

    #logo{
        display: block;
    }

   
    #up-navbar{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        background-color: dodgerblue;
        padding-left: 30px;
    }


    #parte1-upnav{
        justify-content: ;
        display: flex;
        order: 3;
        align-items: center;
        margin-bottom: 10px;
    }
    
}

@media all and (min-width: 880px){
    .class-mobile-none{
        display: inline-block;
    }

}
